@model BurgerApi.Models.Burger

@{
    ViewData["Title"] = "Edit Burger";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section DefaultHeader{
    <ul class="uk-breadcrumb">
        <li>
            <a asp-controller="Admin" asp-action="Index">All</a>
        </li>
        <li>
            <span href="">Edit burger</span>
        </li>
    </ul>
}


<form asp-action="EditBurger">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Edit burger</legend>
        <div asp-validation-summary="ModelOnly" class="uk-form-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="BurgerImageId" />

        <div class="uk-margin">
            <input asp-for="InstagramUserId" class="uk-input" placeholder="instagram user id" />
            <span asp-validation-for="InstagramUserId" class="uk-form-danger"></span>
        </div>
        <div class="uk-margin">
            <input asp-for="InstagramSourceUrl" class="uk-input" placeholder="post url" />
            <span asp-validation-for="InstagramSourceUrl" class="uk-form-danger"></span>
        </div>

        <div class="uk-margin">
            <textarea asp-for="Description" class="uk-textarea" rows="5" placeholder="Description"></textarea>
        </div>

        <div class="uk-margin">
            <select asp-for="BurgerBaseId" class="uk-select" asp-items="ViewBag.BurgerBase"></select>
        </div>
        <div class="uk-margin">
            <select asp-for="CuisineId" class="uk-select" asp-items="ViewBag.Cuisine"></select>
        </div>

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label>
                <input asp-for="Verified" class="uk-radio" /> @Html.DisplayNameFor(model => model.Verified)
            </label>
        </div>

        <div class="uk-margin">
            <input type="submit" value="Update" class="uk-button uk-button-primary" />
        </div>

    </fieldset>
</form>

<div>
    <a asp-action="Index" asp-controller="Admin">Back to List</a>
</div>


